.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
}

.primeraSeccion{
    margin: 2vh;
}